<div>
    <h2 data-translate="entities.home.title">Servert Roles</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
      <div class="col-md-4">
          <button class="btn btn-primary" ui-sref="servertRoles.new">
              <span class="glyphicon glyphicon-flash"></span> <span data-translate="entities.home.createLabel">Create a new Servert</span>
          </button>
      </div>
    </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="name"><span data-translate="entities.servert.name">Name</span><span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="type"><span data-translate="entities.servert.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="toolLevel"><span data-translate="entities.servert.toolLevel">ToolLevel</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="level"> <span data-translate="entities.servert.level">Level</span> <span class="glyphicon glyphicon-sort"></span></th>               
                <th jh-sort-by="atk"><span data-translate="entities.servert.atk">Atk</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="hp"><span data-translate="entities.servert.hp">Hp</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="skillOneLevel"><span data-translate="entities.servert.skillOneLevel">SkillOneLevel</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="skillTwoLevel"><span data-translate="entities.servert.skillTwoLevel">SkillTwoLevel</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="skillThreeLevel"><span data-translate="entities.servert.skillThreeLevel">SkillThreeLevel</span> <span class="glyphicon glyphicon-sort"></span></th>	
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="servert in vm.serverts track by servert.id">
                <td>{{servert.name}}</td>
                <td>{{servert.typeName}}</td>
                <td>{{servert.toolLevel}}</td>
                <td>{{servert.level}}</td>
                <td>{{servert.atk}}</td>
                <td>{{servert.hp}}</td>
                <td>{{servert.skillOneLevel}}</td>
                <td>{{servert.skillTwoLevel}}</td>
                <td>{{servert.skillThreeLevel}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="user-management-detail({login:user.login})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.edit({login:user.login})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="user-management.delete({login:user.login})"
                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login === user.login">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
